* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightgreen;
}

.box {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.memory-game {
    width: 440px;
    height: 440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border-radius: 10px;
    padding: 10px 1px;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.33% - 63px);
    margin: 5px 8px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: auto;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #ff66d9;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.bottom {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.bottom button {
    width: 200px;
    margin-left: -70px;
    padding: 10px 30px;
    font-weight: 800;
    font-size: 16px;
    border-radius: 8px;
    background-color: #00cc00;
    color: white;
    border: none;
    cursor: pointer;
}

.bottom button:hover{
    background-color: #009900;
    color: #ff00bf;
}

