* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: lightgreen;
}

.memory-game {
    width: 540px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.33% - 63px);
    margin: 5px 8px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}
.card-front, .card-back {
    width: 100%;
    height: auto;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #ff66d9;
}